/*
* @Author: LogIN-
* @Date:   2018-04-13 10:25:25
* @Last Modified by:   LogIN-
* @Last Modified time: 2019-02-12 17:03:26
*/

@font-face {
    font-family: "Reislust";
    src: url("~@/styles/fonts/reislust/Reislust.eot");
    src: url("~@/styles/fonts/reislust/Reislust.woff2") format("woff2"), url("~@/styles/fonts/reislust/Reislust.woff") format("woff"),
        url("~@/styles/fonts/reislust/Reislust.ttf") format("truetype"), url("~@/styles/fonts/reislust/Reislust.svg#Reislust") format("svg"),
        url("~@/styles/fonts/reislust/Reislust.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('~@/styles/fonts/raleway/raleway-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('~@/styles/fonts/raleway/raleway-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~@/styles/fonts/raleway/raleway-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~@/styles/fonts/raleway/raleway-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('~@/styles/fonts/raleway/raleway-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~@/styles/fonts/raleway/raleway-v28-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
