/*
* @Author: LogIN-
* @Date:   2018-04-13 10:25:25
* @Last Modified by:   LogIN-
* @Last Modified time: 2019-02-12 17:03:26
*/

@font-face {
    font-family: "Reislust";
    src: url("~@/styles/fonts/reislust/Reislust.eot");
    src: url("~@/styles/fonts/reislust/Reislust.woff2") format("woff2"), url("~@/styles/fonts/reislust/Reislust.woff") format("woff"),
        url("~@/styles/fonts/reislust/Reislust.ttf") format("truetype"), url("~@/styles/fonts/reislust/Reislust.svg#Reislust") format("svg"),
        url("~@/styles/fonts/reislust/Reislust.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}