#app {
    .main-container {
        flex: 1;
        float: right;
        position: relative;
        background-color: #f2f2f3;
        transition: all 0.28s;
        overflow: hidden;
    }

    .sidebar-container {
        float: left;        
        // Main background color #409EFF
        background-color: $ui-background;
        a {
            display: inline-block;
            width: 100%;
        }
        .fa-icon {
            margin-right: 15px;
            color: #FFFFFF;
        }
        .el-menu {
            border: none;
            width: 100%;
            transition: width 0.25s;
        }
        .el-submenu__title {
            color: #FFFFFF;
        }
    }

    .hideSidebar {
        .sidebar-container,
        .sidebar-container .el-menu {
            width: 50px !important;
            transition: width 0.25s;
        }
        .submenu-title-noDropdown {
            padding-left: 10px !important;
            position: relative;
            span {
                height: 0;
                width: 0;
                overflow: hidden;
                visibility: hidden;
                opacity: 0;
                display: inline-block;
            }
            &:hover {
                span {
                    display: block;
                    border-radius: 3px;
                    z-index: 1002;
                    width: 140px;
                    height: 56px;
                    visibility: visible;
                    position: absolute;
                    right: -145px;
                    text-align: left;
                    text-indent: 20px;
                    top: 0px;
                    background-color: $subMenuBg !important;
                    opacity: 1;
                }
            }
        }
        .el-submenu {
            & > .el-submenu__title {
                padding-left: 20px !important;

                & > span {
                    display: none;
                }
                .el-submenu__icon-arrow {
                    display: none;
                }
            }
            .nest-menu {
                .el-submenu__icon-arrow {
                    display: block !important;
                }
                span {
                    display: inline-block !important;
                }
            }
        }
    }

    .showSidebar {
        .nest-menu .el-submenu > .el-submenu__title,
        .el-submenu .el-menu-item {
            min-width: 180px;
        }
    }
}

.el-menu--vertical {
    .el-menu--popup-right-start {
        margin-left: 1px;
        .fa-icon {
            margin-right: 15px;
            color: #FFFFFF;
        }
        span {
            color: #FFFFFF;
        }
    }
}