@import './mixins.scss';

$--color-primary: #35224a;
// Main background color #409EFF
$ui-background: #35224a;

$ui-background-secondary: #EFF0F9;

// #3D2D53
// #4C3B63
// #CFBEE3
$ui-icon-inactive: #EFF0F9;
$ui-text-inactive: #EFF0F9;
// #E3006E

$sidebar-size: 260px;

$grey: #dbe2e8;
$white: #fff;
$header-height: 60px;

$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
// Main background color #409EFF
$subMenuBg: $ui-background;
$menuHover:#FFFFFF;

