@import './mixins.scss';

$ui-background: #000000;
$main-container-background: #333333;


$ui-background-secondary: #121212;
$--color-primary: #121212;

$ui-icon-inactive: #000000;
$ui-text-inactive: #000000;

$blue:#3700b3;
$green: #03dac5;


$sidebar-size: 260px;
$header-height: 60px;

$grey: #dbe2e8;
$white: #FFFFFF;


$light-blue:#3A71A8;
$red:#C03639;
$tiffany: #4AB7BD;
$yellow:  #E4D04D;
$pink:  #e3006e;

$subMenuBg: $ui-background-secondary;
$menuHover: $white;

