{
    "name": "development",
    "isDemoServer": true,
    "productionTip": false,
    "developer":
    {
        "productName": "SIMON",
        "companyName": "genular",
        "submitURL": "https://genular.com/simon-crash-report",
        "uploadToServer": false
    },
    "server":
    {
        "frontend": "PLACEHOLDER",
        "backend": "PLACEHOLDER",
        "homepage": "PLACEHOLDER"
    },
    "api": {
        "secret": "PLACEHOLDER",
        "chargebee_site_name": "PLACEHOLDER",
        "chargebee": "PLACEHOLDER",
        "here_app_code": "PLACEHOLDER",
        "here_app_id": "PLACEHOLDER"
    }
}
