{
    "name": "production",
    "isDemoServer": true,
    "productionTip": false,
    "developer":
    {
        "productName": "PANDORA",
        "companyName": "aTomic Lab",
        "submitURL": "https://genular.com/pandora-crash-report",
        "uploadToServer": false
    },
    "server":
    {
        "frontend": "PLACEHOLDER",
        "backend": "PLACEHOLDER",
        "homepage": "PLACEHOLDER"
    },
    "api": {
        "secret": "PLACEHOLDER",
        "chargebee_site_name": "PLACEHOLDER",
        "chargebee": "PLACEHOLDER",
        "here_app_code": "PLACEHOLDER",
        "here_app_id": "PLACEHOLDER"
    }
}
